{% extends 'base.twig' %}

{% block title %}Expense{% endblock %}

{% block body %}  

    <div class="content">
        <div class="main_content">
            <div class="main_content_column">
                <h3>Add your expense</h3>

                {% if session.s_expense is defined %}
                    <div class="success"> {{ session.s_expense }} </div>
                {% endif %}

                {% if session.e_expense is defined %}
                    <div class="error"> {{ session.e_expense }} </div>
                {% endif %}

                <form class="main_form" action="/expense/add" method="post">
                    <label for="amount">Expense amount:</label>
                    <input type="number" name="amount" id="amount" min="0" step="0.01" required>
                    <label for="date">Expense date:</label>
                    <input type="date" name="date" id="date" min='2000-01-01' value="{{ "now"|date("Y-m-d") }}" required>
                    <label for="category">Expense category:</label>
                    <select name="category" id="category" required>
                        <option value="">--- Choose category ---</option>
                            {% for expense_category in expense_categories %}
                                <option>{{ expense_category.name }}</option>
                            {% endfor %}
                    </select>
                    <label for="payment_method">Payment method:</label>
                    <select name="payment_method" required>
                        <option value="">--- Choose payment method ---</option>
                            {% for payment_method in payment_methods %}
                                <option>{{ payment_method.name }}</option>
                            {% endfor %}
                    </select>
                    <label for="comment">Your comment (optional):</label>
                    <textarea rows="5" name="comment" placeholder="Enter your comment here" maxlength="100"></textarea>

                    {% if session.e_expense_comment is defined %}
                        <div class="error"> {{ session.e_expense_comment }} </div>
                    {% endif %}

                    <button>Add expense</button>
                </form>
            </div> 
        </div>
    </div>
</main>

<script src="/js/limit.js"></script>

{% endblock %}