{% extends 'base.twig' %}

{% block title %}Balance{% endblock %}

{% block footer %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});

        {% if income_balance is not null or income_balance is not empty and expense_balance is not null or expense_balance or empty %}
            google.charts.setOnLoadCallback(drawFirstChart);
            google.charts.setOnLoadCallback(drawSecondPiechart);
        {% endif %}

        function drawFirstChart() {
            const data = google.visualization.arrayToDataTable([
                ['Category', 'Income Amount'],
                
                {% for income in income_balance %}
                    ['{{ income.name }}', {{ income.incomeSum | number_format(2, '.', '') }}],
                {% endfor %}

            ]);

            const options = {
                title: 'Income Balance',
                is3D: true,
                backgroundColor: 'transparent',
                colors: ['#344E41', '#3A5A40', '#588157', '#A3B18A', '#DAD7CD'],
            };

            const chart = new google.visualization.PieChart(document.getElementById('incomePiechart'));
            chart.draw(data, options);
        }

        function drawSecondPiechart() {
            const data = google.visualization.arrayToDataTable([
                ['Category', 'Expense Amount'],

                {% for expense in expense_balance %}
                    ['{{ expense.name }}', {{ expense.expenseSum | number_format(2, '.', '') }}],
                {% endfor %}

            ]);

            const options = {
                title: 'Expense Balance',
                is3D: true,
                backgroundColor: 'transparent',
                colors: ['#F25C54', '#F27059', '#F4845F', '#F79D65', '#F7B267'],
            };

            const chart = new google.visualization.PieChart(document.getElementById('expensePiechart'));
            chart.draw(data, options);
        }
    </script>
    <script src="/js/balance.js"></script>
{% endblock %}

{% block body %}  

    <div class="content">
        <div class="main_content">
            <div class="main_content_column">
                <h3>Balance details</h3>         
                <form class="main_form" action="/balance/calculate" method="post">

                    {% if session.e_period is defined %}
                        <div class="error"> {{ session.e_period }} </div>
                    {% endif %}

                    <select name="period" required>
                        <option value="">--- Choose period ---</option>
                        <option value="current_month" selected="selected">Current month</option>
                        <option value="last_month">Last month</option>
                        <option value="current_year">Current year</option>
                        <option value="custom_period">Custom...</option>
                    </select>
                    <label class="hidden" for="start_date">Start date:</label>
                    <input class="hidden" type="date" name="start_date" min='2000-01-01'>
                    <label class="hidden" for="end_date">End date:</label>
                    <input class="hidden" type="date" name="end_date" min='2000-01-01'>
                    <button>Show balance</button>
                </form>
            </div>
        </div>

        {% if income_balance is not null or expense_balance is not null %}

            <div class="main_content balance">
                <h3>Balance</h3>
                <p>Start Date: {{ start_date }} </p><p>End Date: {{ end_date }} </p>
                <h4>Income balance</h4>

                {% if income_balance is not empty %}

                    <table id="income_table">
                        <tr>
                            <th style="width:50%">Category</th>
                            <th>Income amount [PLN]</th>
                        </tr>

                        {% set totalIncome = 0 %}
                        {% for income in income_balance %}
                            {% set totalIncome = totalIncome + income.incomeSum %}
                            <tr><td>{{ income.name }}</td><td>{{ income.incomeSum | number_format(2, ',', ' ') }}</td></tr>
                        {% endfor %}

                    </table>

                    <div class="piechart" id="incomePiechart"></div>

                {% endif %}

                <h5>Total income in selected period: {{ totalIncome | number_format(2, ',', ' ') }} PLN</h5>
                
                <h4>Expense balance</h4>

                {% if expense_balance is not empty %}

                    <table id="expense_table">
                        <tr>
                            <th style="width:50%">Category</th>
                            <th>Expense amount [PLN]</th>
                        </tr>

                        {% set totalExpense = 0 %}
                        {% for expense in expense_balance %}
                            {% set totalExpense = totalExpense + expense.expenseSum %}
                            <tr><td>{{ expense.name }}</td><td>{{ expense.expenseSum | number_format(2, ',', ' ') }}</td></tr>
                        {% endfor %}

                    </table>

                    <div class="piechart" id="expensePiechart"></div>

                {% endif %}

                <h5>Total expense in selected period: {{ totalExpense | number_format(2, ',', ' ') }} PLN</h5>
                    
                {% set balance = totalIncome - totalExpense %}
                <h3 class="{{ (balance >= 0) ? 'success' : 'error' }}">Your balance is: {{balance | number_format(2, ',', ' ') }} PLN</h3>
            </div>

        {% endif %}

    </div>
</main>

{% endblock %}