{% extends 'base.twig' %}

{% block title %}Income{% endblock %}

{% block footer %}

<script>

    const incomeCategoryRemoveMsg = 'This action will remove all incomes of that category. Are you stil want to remove a category?';
    const expenseCategoryRemoveMsg = 'This action will remove all expenses of that category. Are you stil want to remove a category?';
    const paymentMethodRemoveMsg = 'This action will remove all expenses of that payment method. Are you stil want to remove a category?';
    const btnIncomeCategoryRemove = document.querySelector('#btnIncomeCategoryRemove');
    const btnExpenseCategoryRemove = document.querySelector('#btnExpenseCategoryRemove');
    const btnPaymentMethodRemove = document.querySelector('#btnPaymentMethodRemove');

    btnIncomeCategoryRemove.addEventListener('click', function(event) {
        if (! confirm(incomeCategoryRemoveMsg)) {
            event.preventDefault();
        }  
    });
    
    btnExpenseCategoryRemove.addEventListener('click', function(event) {
        if (! confirm(incomeCategoryRemoveMsg)) {
            event.preventDefault();
        }  
    });
    
    btnPaymentMethodRemove.addEventListener('click', function(event) {
        if (! confirm(paymentMethodRemoveMsg)) {
            event.preventDefault();
        }  
    });

</script>

{% endblock %}

{% block body %}    

        <div class="content">
            <div class="main_content">
                <div class="main_content_column">
                    <div>
                        <h3>Add income category</h3>
                        <form class="main_form" action="/settings/add-income-category" method="post">
                            <label for="new_income_category">Enter new income category:</label>
                            <input type="text" name="new_income_category" required>

                            {% if session.e_new_income_category is defined %}
                                <div class="error"> {{ session.e_new_income_category }} </div>
                            {% endif %}

                            {% if session.s_new_income_category is defined %}
                                <div class="success"> {{ session.s_new_income_category }} </div>
                            {% endif %}

                            <button>Add income category</button>
                        </form>
                    </div>
                    <div>
                        <h3>Add expense category</h3>
                        <form class="main_form" action="/settings/add-expense-category" method="post">
                            <label for="new_expense_category">Enter new expense category:</label>
                            <input type="text" name="new_expense_category" required>

                            {% if session.e_new_expense_category is defined %}
                                <div class="error"> {{ session.e_new_expense_category }} </div>
                            {% endif %}

                            {% if session.s_new_expense_category is defined %}
                                <div class="success"> {{ session.s_new_expense_category }} </div>
                            {% endif %}

                            <button>Add expense category</button>
                        </form>
                    </div>
                    <div>
                        <h3>Add your payment method</h3>
                        <form class="main_form" action="/settings/add-payment-method" method="post">
                            <label for="new_payment_method">Enter new payment method:</label>
                            <input type="text" name="new_payment_method" required>

                            {% if session.e_new_payment_method is defined %}
                                <div class="error"> {{ session.e_new_payment_method }} </div>
                            {% endif %}

                            {% if session.s_new_payment_method is defined %}
                                <div class="success"> {{ session.s_new_payment_method }} </div>
                            {% endif %}

                            <button>Add payment method</button>
                        </form>
                    </div>
                    <div>
                        <h3>Change income category</h3>
                        <form class="main_form" action="/settings/remove-income-category" method="post">
                            <select name="category" required>
                                <option value="">--- Choose category ---</option>
                                    {% for income_category in income_categories %}
                                        <option>{{ income_category.name }}</option>
                                    {% endfor %}
                            </select>

                            {% if session.e_income_category_remove is defined %}
                                <div class="error"> {{ session.e_income_category_remove }} </div>
                            {% endif %}

                            {% if session.s_income_category_remove is defined %}
                                <div class="success"> {{ session.s_income_category_remove }} </div>
                            {% endif %}

                            {% if session.e_income_category_edit is defined %}
                                <div class="error"> {{ session.e_income_category_edit }} </div>
                            {% endif %}

                            {% if session.s_income_category_edit is defined %}
                                <div class="success"> {{ session.s_income_category_edit }} </div>
                            {% endif %}

                            <div class="button_aligner">
                                <button formaction="/edit-income-category/show" class="btn_change edit">Edit income category</button>
                                <button id="btnIncomeCategoryRemove" type="submit" class="btn_change remove">Remove income category</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <h3>Change expense category</h3>
                        <form class="main_form" action="/settings/remove-expense-category" method="post">
                            <select name="category" id="expense_category_select" required>
                                <option value="">--- Choose category ---</option>
                                    {% for expense_category in expense_categories %}
                                        <option>{{ expense_category.name }}</option>
                                    {% endfor %}
                            </select>

                            {% if session.e_expense_category_remove is defined %}
                                <div class="error"> {{ session.e_expense_category_remove }} </div>
                            {% endif %}

                            {% if session.s_expense_category_remove is defined %}
                                <div class="success"> {{ session.s_expense_category_remove }} </div>
                            {% endif %}

                            {% if session.e_expense_category_edit is defined %}
                                <div class="error"> {{ session.e_expense_category_edit }} </div>
                            {% endif %}

                            {% if session.s_expense_category_edit is defined %}
                                <div class="success"> {{ session.s_expense_category_edit }} </div>
                            {% endif %}

                            <div class="button_aligner">
                                <button formaction="/edit-expense-category/show" class="btn_change edit">Edit expense category</button>
                                <button id="btnExpenseCategoryRemove" type="submit" class="btn_change remove">Remove expense category</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <h3>Change payment method</h3>
                        <form class="main_form" action="/settings/remove-payment-method" method="post">
                            <select name="payment_method" required>
                                <option value="">--- Choose payment method ---</option>
                                    {% for payment_method in payment_methods %}
                                        <option>{{ payment_method.name }}</option>
                                    {% endfor %}
                            </select>

                            {% if session.e_payment_method_remove is defined %}
                                <div class="error"> {{ session.e_payment_method_remove }} </div>
                            {% endif %}

                            {% if session.s_payment_method_remove is defined %}
                                <div class="success"> {{ session.s_payment_method_remove }} </div>
                            {% endif %}

                            {% if session.e_payment_method_edit is defined %}
                                <div class="error"> {{ session.e_payment_method_edit }} </div>
                            {% endif %}

                            {% if session.s_payment_method_edit is defined %}
                                <div class="success"> {{ session.s_payment_method_edit }} </div>
                            {% endif %}
                            <div class="button_aligner">
                                <button formaction="/edit-payment-method/show" class="btn_change edit">Edit payment method</button>
                                <button id="btnPaymentMethodRemove" type="submit" class="btn_change remove">Remove payment method</button>
                            </div>
                        </form> 
                    </div>
                </div> 
            </div>
        </div>
    </main>

    <script src="/js/settings.js"></script>

{% endblock %}