{% extends 'base.twig' %}

{% block title %}Income{% endblock %}

{% block body %}    

        <div class="content">
            <div class="main_content">
                <div class="main_content_column">
                    <div>
                        <h3>Add income category</h3>
                        <form class="main_form" action="/settings/add-income-category" method="post">
                            <label for="new_income_category">Enter new income category:</label>
                            <input type="text" name="new_income_category" required>

                            {% if session.e_new_income_category is defined %}
                                <div class="error"> {{ session.e_new_income_category }} </div>
                            {% endif %}

                            {% if session.s_new_income_category is defined %}
                                <div class="success"> {{ session.s_new_income_category }} </div>
                            {% endif %}

                            <button>Add income category</button>
                        </form>
                    </div>
                    <div>
                        <h3>Add expense category</h3>
                        <form class="main_form" action="/settings/add-expense-category" method="post">
                            <label for="new_expense_category">Enter new expense category:</label>
                            <input type="text" name="new_expense_category" required>

                            {% if session.e_new_expense_category is defined %}
                                <div class="error"> {{ session.e_new_expense_category }} </div>
                            {% endif %}

                            {% if session.s_new_expense_category is defined %}
                                <div class="success"> {{ session.s_new_expense_category }} </div>
                            {% endif %}

                            <button>Add expense category</button>
                        </form>
                    </div>
                    <div>
                        <h3>Add your payment method</h3>
                        <form class="main_form" action="/settings/add-payment-method" method="post">
                            <label for="new_payment_method">Enter new payment method:</label>
                            <input type="text" name="new_payment_method" required>

                            {% if session.e_new_payment_method is defined %}
                                <div class="error"> {{ session.e_new_payment_method }} </div>
                            {% endif %}

                            {% if session.s_new_payment_method is defined %}
                                <div class="success"> {{ session.s_new_payment_method }} </div>
                            {% endif %}

                            <button>Add payment method</button>
                        </form>
                    </div>
                    <div>
                        <h3>Change income category</h3>
                        <form class="main_form" action="/settings/remove-income-category" method="post">
                            <select name="category" required>
                                <option value="">--- Choose category ---</option>
                                    {% for income_category in income_categories %}
                                        <option>{{ income_category.name }}</option>
                                    {% endfor %}
                            </select>

                            {% if session.e_income_category_remove is defined %}
                                <div class="error"> {{ session.e_income_category_remove }} </div>
                            {% endif %}

                            {% if session.s_income_category_remove is defined %}
                                <div class="success"> {{ session.s_income_category_remove }} </div>
                            {% endif %}

                            {% if session.e_income_category_edit is defined %}
                                <div class="error"> {{ session.e_income_category_edit }} </div>
                            {% endif %}

                            {% if session.s_income_category_edit is defined %}
                                <div class="success"> {{ session.s_income_category_edit }} </div>
                            {% endif %}

                            <button formaction="/edit-income-category/show" class="btn_change edit">Edit income category</button>
                            <button type="submit" class="btn_change remove">Remove income category</button>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
        
    </main>

{% endblock %}