{% extends 'base.twig' %}

{% block title %}Income{% endblock %}

{% block body %}     
    <div class="content">
        <div class="main_content">
        <div class="main_content_column">
                <h3>Add your income</h3>

                {% if session.s_income is defined %}
                    <div class="success"> {{ session.s_income }} </div>
                {% endif %}
                
                {% if session.e_income is defined %}
                    <div class="error"> {{ session.e_income }} </div>
                {% endif %}

                <form class="main_form" action="/income/add" method="post">
                    <label for="amount">Income amount:</label>
                    <input type="number" name="amount" min="0" step="0.01" required>
                    <label for="date">Income date:</label>
                    <input type="date" name="date" min="2000-01-01" value="{{ "now"|date("Y-m-d") }}" required>
                    <label for="category">Income category:</label>
                    <select name="category" required>
                        <option value="">--- Choose category ---</option>
                            {% for income_category in income_categories %}
                                <option>{{ income_category.name }}</option>
                            {% endfor %}
                    </select>
                    <label for="comment">Your comment (optional):</label>
                    <textarea rows="5" name="comment" placeholder="Enter your comment here" maxlength="100"></textarea>

                    {% if session.e_income_comment is defined %}
                        <div class="error"> {{ session.e_income_comment }} </div>
                    {% endif %}

                    <button>Add income</button>
                </form>
            </div>
            <div class="main_content_column">
                <div>
                    <h3>Add your category</h3>
                    <form class="main_form" action="income_script.php" method="POST">
                        <label for="new_income_category">Enter new income category:</label>
                        <input type="text" name="new_income_category" required>
                        {# <?php
                            if (isset($_SESSION['e_new_income_category'])) echo '<div class="error">'.$_SESSION['e_new_income_category'].'</div>';
                            unset($_SESSION['e_new_income_category']);
                            if (isset($_SESSION['s_new_income_category'])) echo '<div class="success">'.$_SESSION['s_new_income_category'].'</div>';
                            unset($_SESSION['s_new_income_category']);
                        ?> #}
                        <button>Add income category</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</main>

{% endblock %}